{
	"useTabs": true,
	"tabWidth": 2,
	"semi": false,
	"singleQuote": false,
	"trailingComma": "es5",
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
